<footer class="bg-slate-100 flex flex-col items-center px-6 mx-auto">

  <h5 class="text-slate-700 py-10 text-2xl font-bold">Sprout your socializing</h5>
  <div class="text-slate-700 md:text-left container w-full mb-4 text-center">
    <span>Copyright &copy; 2022, All Rights Reserved</span>
  </div>

</footer>
<script src="js/script.js"></script>
</body>

</html>