<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>dogSocial</title>
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png" />
  <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
  <header class="container mx-auto p-6">
    <div class="flex flex-col items-center justify-center">
      <h1 class="text-4xl mt-20 mb-3"><a href="/profile">Dog Social</a></h1>
      <span>The Canine Social Network</span>
    </div>
  </header>
</body>

</html>