<%- include('partials/header') -%>

<section class="bg-slate-100">
  <div class="md:flex-row md:space-y-0 container flex flex-col-reverse items-center px-6 mx-auto space-y-0">
    <div class="md:w-1/2 flex flex-col px-6 mb-32 space-y-12">
      <h1 class="text-slate-700 md:text-5xl md:text-left max-w-md mt-12 text-4xl font-bold text-center">
        A place to grow, share, connect.
      </h1>
      <p class="text-slate-600 md:text-left max-w-sm text-center">
        From discovering new friends to sharing photos of your harvest, we are a community invested in supporting your growing adventure.
      </p>
    </div>
    <div class="md:w-1/2 container px-6">
      <div class="md:justify-center md:items-center flex flex-col">
        <a href="/login" class="text-slate-100 bg-cyan-600 baseline hover:bg-cyan-700 md:mt-6 md:w-1/3 flex flex-row items-center justify-center w-full p-3 px-6 pt-2 mx-auto mt-24 font-bold text-center rounded-full">
          Login</a>
        <a href="/signup" class="text-slate-100 bg-cyan-600 baseline hover:bg-cyan-700 md:w-1/3 flex flex-row items-center justify-center w-full p-3 px-6 pt-2 mx-auto mt-8 mb-24 font-bold text-center rounded-full">
          Join Us</a>
      </div>
      <p class="text-slate-600 md:text-left max-w-sm text-center">
        * Users who want to look around without creating an account - click login then click bypass login
      </p>
    </div>
  </div>
</section>
<section class="bg-cyan-500">
  <div class="md:py-12 md:space-y-0 container flex flex-col items-center justify-between px-6 py-24 mx-auto space-y-12">
    <h2 class="text-slate-100 md:text-4xl md:max-w-xl md:text-left text-5xl font-bold text-center">
      How it works
    </h2>
    <div class="md:flex-row md:justify-between flex flex-col px-8 mb-32 space-y-12">
      <div class="md:w-1/3 md:mt-12 flex flex-col mt-16">
        <div class="flex items-center space-x-2">
          <div class="slate-100 text-slate-100 md:py-1 px-4 py-2 font-bold bg-purple-600 rounded-full">
            01
          </div>
          <h3 class="text-slate-700  text-lg font-bold">
            Join us and log in
          </h3>
        </div>
        <p class="text-slate-600 pl-12">
          Requires a user name, email, and password.
        </p>
      </div>
      <div class="md:w-1/3 flex flex-col mt-16">
        <div class="flex items-center space-x-2">
          <div class="text-slate-100 md:py-1 px-4 py-2 font-bold bg-purple-600 rounded-full">
            02
          </div>
          <h3 class="text-slate-700 text-lg font-bold">
            Create a post
          </h3>
        </div>
        <p class="text-slate-600 pl-12">
          Share a heading, an image, a caption, or comment on a post.
        </p>
      </div>
      <div class="md:w-1/3 flex flex-col mt-16">
        <div class="flex items-center space-x-2">
          <div class="text-slate-100 md:py-1 px-4 py-2 font-bold bg-purple-600 rounded-full">
            03
          </div>
          <h3 class="text-slate-700 text-lg font-bold">
            Like and delete
          </h3>
        </div>
        <p class="text-slate-600 pl-12">
          Like others' posts & captions. Delete your own.
        </p>
      </div>
    </div>
  </div>
</section>

<%- include('partials/footer') -%>