<%- include('partials/header') -%>

<main class="container flex mx-auto">
  <div class="container flex flex-row justify-center items-center mt-5">
    <a
      href="/login"
      class="flex flex-row mx-3 mt-8 p-3 px-6 pt-2 text-white bg-cyan-600 rounded-full baseline hover:bg-cyan-700"
    >
      Login</a
    >
    <a
      href="/signup"
      class="flex flex-row mx-3 mt-8 p-3 px-6 pt-2 text-white bg-cyan-600 rounded-full baseline hover:bg-cyan-700"
    >
      Signup</a
    >
  </div>
</main>

<%- include('partials/footer') -%>
